.premium-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.premium-group div {
  height: auto;
  width: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.insidediv {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
}

.premium1 {
  padding: 10px;
  /* font: bold; */
  padding: 5px;
  background: rgba(236, 30, 43, 1);
  color: white;
  border-radius: 8px;
}
