/* DropdownMenu.css */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  padding: 12px;
  width: 200px;
  /* padding-left: 40px; */
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  /* padding-right: 40px; */
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin-left: 8px;
}

.icon.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.selected {
  background-color: #cce5ff;
}
